asgiref==3.8.1
attrs==25.2.0
blinker==1.9.0
Brotli==1.1.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
dj-database-url==3.0.1
Django==5.2.4
django-livereload-server==0.5.1
django-seed==0.3.1
djangorestframework==3.16.0
et_xmlfile==2.0.0
Faker==26.2.0
Flask==3.1.0
gunicorn==23.0.0
h11==0.14.0
idna==3.10
itsdangerous==2.2.0
itypes==1.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
numpy==2.2.0
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
panda==0.3.1
pandas==2.2.3
pillow==11.1.0
psycopg2-binary==2.9.9
pycparser==2.22
PyMySQL==1.1.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.2
qrcode==8.0
requests==2.32.3
selenium==4.29.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.0
toposort==1.10
tornado==6.4.1
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.12.2
tzdata==2024.1
uritemplate==4.2.0
urllib3==2.3.0
uvicorn==0.35.0
websocket-client==1.8.0
Werkzeug==3.1.3
whitenoise==6.9.0
wsproto==1.2.0
